filelock==3.29.0
fsspec==2026.4.0
grpcio==1.80.0
grpcio-tools==1.80.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.4.2
protobuf==6.33.6
sympy==1.14.0
torch==2.12.0
typing_extensions==4.15.0
